.header {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  align-items: center;
  justify-content: center;

  .image {
    border: 1px solid #52fb02;
    padding: 8px;
    border-radius: 50%;
    width: 30%;
    margin-bottom: 4px;
    cursor: pointer;
    transition: .5s;

    &:hover{
        border: 1px solid #4925AF;
        transition: .5s;
        transform: rotate(-20deg) scale(1.2);

    }
  }
}
