@import url("satoshi.css");
@import url("https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi";
}

a {
  text-decoration: inherit;
}
