$background-color: #100f11;

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: $background-color;
  position: relative;

  .bgImage {
    position: absolute;
    background-image: url("../public/images/github_logo.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 140%;
    height: 140%;
    top: -10vw;
    left: -10vw;
    z-index: 0;
  }

  .page {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    .app{

min-width: 50%;
max-width: 60%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

    }
  }
}
